.p-nav {
	background-color: #563d7c;
	padding: 22px
}
.title {
	color: #ffffff;
	font-size: 25px;
}

a{
	color: #fff !important;
	font-weight: bold;
}

.navbar-toggler {
	color: #fff !important;
}

.carousel,
.active {
    height: 550px;
    margin-bottom: 10px;
}

.carousel-inner {
    height: 100%;
}

.carousel-caption {
	bottom: 220px
}

.carousel-caption h5{
	font-size: 33px;
	font-weight: bolder;
}

.carousel-caption p{
	font-size: 20px;
	font-weight: bold;
}

.below {
	background: #000000;
}

.text {
	color: #fff;


}

